<div class="blog-details">
  <div class="blog-container">
    <div class="blog">
      <h2 class="blog-title title is-1"><%= @blog.title %></h2>
      <div class="blog-embedded-video"><%= raw @blog.embedded_video %></div>
      <div class="blog-content"><%= @blog.content %></div>
    </div>
  </div>

  <div class="lower-cards-container">
    <div class="columns">
      <div class="author-details has-text-centered column">
        <p><strong>About the author:</strong></p>
        <%= image_tag("author.jpg", class: "author-image") %>
        <p>Josh Jones is a musician, producer, engineer,</p>
        <p> online educator, and heavy music fan.</p>
      </div>
      <div class="workshop-details has-text-centered column">
        <%= image_tag("workshop_banner.jpg", class: "workshop-banner") %>
        <%= link_to("Watch the free workshop", workshop_path, class: "button is-info") %>
        <p>Learn twelve of the most important decisions behind every great music creation success.</p>
      </div>
    </div>
  </div>
</div>
