<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Music Like You Mean It</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="/workshop">
          <%= image_tag("logo.jpg", height: "28") %>
        </a>

        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu main-nav-menu">
        <div class="navbar-start">
        </div>

        <div class="navbar-end">
          <%= link_to("About", pages_about_path, class: "navbar-item") %>
          <%= link_to("Blog", blogs_path, class: "navbar-item") %>
          <%= link_to("Workshop", workshop_path, class: "navbar-item") %>
        </div>
      </div>
    </nav>

    <div class="page-container"><%= yield %></div>

    <footer class="footer">
      <span>&copy; <%= Time.now.year %> Music Like You Mean It</span>
      <%= link_to("Terms", pages_terms_path, class: "footer-link is-pulled-right") %>
      <%= link_to("Privacy", pages_privacy_policy_path, class: "footer-link is-pulled-right") %>
      <div class="content">
      </div>
    </footer>
  </body>
</html>
